@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$grey: #444;

html {
    margin: 0;
    padding: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;

    .first {
        margin: 0 auto;
        position: relative;
        height: 100vh;

        &__decorator {
            position: absolute;
            width: 830px;
            height: 830px;
            left: 50%;

            transform: translate(-50%, -55%) rotate(-45deg);
            background: rgb(255, 255, 255);
            background: linear-gradient(222.11deg, #2B2A38 48.83%, #FFFFFF 74.19%);
        }

        &__content {
            position: relative;

            header {
                position: relative;
                padding: 1rem;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style-type: none;
                    max-width: 822px;
                    margin: 0 auto;
                    color: white;

                    img {
                        width: 125px;
                    }
                }
            }

            h1 {
                display: block;
                margin-top: 5rem;
                text-align: center;
                color: $grey;

                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 0.24em;
            }

            .main-image {
                display: block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                max-width: 80%;
                margin-top: -4rem;
            }

            .more-details {
                position: absolute;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                color: $grey;
                width: 150px;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;

                &__arrow {
                    position: relative;
                    animation: pulse 2s infinite ease-in-out; 
                }
            }

            @keyframes pulse {
                0% {
                    top: -.3rem;
                }

                50% {
                    top: 0;
                }

                100% {
                    top: -.3rem;
                }
            }
        }




    }

    .second {
        height: 70vh;
        background-color: #2B2A38;
        display: flex;
        

        &__img {
            flex: 6;
            background: url(../images/img/second.webp);
            object-fit: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__text {
            flex: 4;
            padding: 3rem;
            font-size: 3rem;
            font-weight: 300;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p { 
                margin: 0;
            }

            img {
                width: 70%;
            }

            .small {
                font-size: 1.5rem;
            }
        }
    }

    .third {
        h2 {
            color: #000;
            font-size: 2rem;
            letter-spacing: .5rem;
            text-align: center;
            margin-top: 5rem;
        }

        .features {
            display: flex;
            gap: 1rem;
            max-width: 1000px;

            margin: 3rem auto;

            
            
            &__right,
            &__left {
                flex: 3;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                > p {
                    width: 150px;
                    cursor: pointer;
                    font-size: 1.4rem;
                    font-weight: 300;
                    color: $grey;
                }
            }

            &__right {
                text-align: right;
                align-items: flex-end;
            }

            &__center {
                flex: 4;
                height: 700px;
                background-image: url('../images/img/back.webp');
                background-repeat: no-repeat;
                background-size: cover;
                transition: background 0.5s ease;
            }
        }
    }
}